$primary: black;
$menu-option-hover: rgb(82, 82, 82);
$mobile-menu-option-hover: rgb(186, 186, 186);
$post-background: #e0e4cc;
$post-heading-cyan: #69d2e7;
$post-heading-orange: #f38630;
$post-heading-pink: #e9aeaf;