@import 'colors.scss';

$spacing-gap: 30px;
$menu-padding-top: 10px;

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: $primary;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* As of now the spoort for :has() is limited, but this is used only
   for disabling scroll while the mobile menu is open */
   
body:has( #burger-input:checked) {
    overflow: hidden;
}

div {
    box-sizing: border-box;
}

#header {
    display: flex;
    align-items: center;
    align-content: space-between;
    height: 100px;
    margin: $spacing-gap;

    #logo {
        width: 100px;
        height: 100px;
    }

    #title {
        font-size: 250%;
        flex: 2;
        margin: 1.5%;
    }

    #menu {
        flex: 1;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        padding-top: $menu-padding-top;
    }

    #burger-menu {
        z-index: 10000;
    }

    #burger-input,
    #burger-container {
        height: 80px;
        width: 80px;
    }

    #burger-container {
        position: relative;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $post-background;
        border: 2px solid black;
        border-radius: 31.125%;
    }

    $burger-line-width: 2px;
    $burger-line-gap: 10px;
    $burger-line-length: 38px;

    .burger-line {
        width: 100%;
        height: 100%;
        display: block;
        background-color: black;
        position: relative;
        height: $burger-line-width;
        width: $burger-line-length;
        transition: 400ms ease-in-out;
        pointer-events: none;
    }

    #burger-line-1 {
        bottom: $burger-line-gap;
    }

    #burger-line-2 {
        position: absolute;
    }
          
    #burger-line-3 {
        top: $burger-line-gap;
    }

    #burger-input:checked ~ #burger-container #burger-line-1 {
        transform: rotate(45deg);
        bottom: -1px;
    }

    #burger-input:checked ~ #burger-container #burger-line-2 {
        transform: scaleX(0);
    }

    #burger-input:checked ~ #burger-container #burger-line-3 {
        transform: rotate(-45deg);
        top: -1px;
    }

    #burger-input {
        position: absolute;
        margin: 0;
        z-index: 10;
        clip-path: circle(59% at 50% 50%);
        cursor: pointer;
        appearance: none;
    }

    .menu-option {
        color: black;
        text-decoration: none;
        transition: 0.1s ease-in;

        &:hover {
            color: $menu-option-hover;
        }
    }

    #mobile-menu .menu-option {
        color: white;

        &:hover {
            color: $mobile-menu-option-hover;
        }
    }

    #mobile-menu {
        position: fixed;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: opacity 200ms ease-out;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        background: #000000d4;
        font-size: 250%;
        z-index: -1;
    }

    #burger-input:checked,
    #burger-input:checked ~ #burger-container {
        position: fixed;
        margin: $spacing-gap;
        margin-top: $spacing-gap + $menu-padding-top;
        top: 0;
        right: 0;
    }

    #burger-input:checked ~ #mobile-menu {
        opacity: 1;
        pointer-events: all;
    }
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: fit-content;
    margin: $spacing-gap;
    margin-top: 0;
    flex-wrap: wrap;
    row-gap: $spacing-gap;

    .post {
        border: 2px solid black;
        background: $post-background;
        position: relative;

        .post-heading {
            font-size: 150%;
            text-align: center;
            position: absolute;
            width: 55%;
            max-width: 25vw;
            top: 0;
            right: 0;
            border-bottom: 2px solid black;
            border-left: 2px solid black;
            box-sizing: content-box;
            padding: 8px;
        }
    
        .post-text {
            padding: 25px;
            padding-top: 85px;
            text-align: justify;
        }

        .cyan {
            background: $post-heading-cyan;
        }

        .orange {
            background: $post-heading-orange;
        }

        .pink {
            background: $post-heading-pink;
        }
    }
}

@for $i from 1 through 12 {
    @media only screen and (min-width: 1024px) {
        .desktop-width-#{$i} {
            width: calc(#{$i} * (100% - 11 * #{$spacing-gap})/12 + (#{$i} - 1) * #{$spacing-gap});
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 1023px) {
        .tablet-width-#{$i} {
            width: calc(#{$i} * (100% - 11 * #{$spacing-gap})/12 + (#{$i} - 1) * #{$spacing-gap});
        }
    }

    @media only screen and (max-width: 599px) {
        .mobile-width-#{$i} {
            width: calc(#{$i} * (100% - 11 * #{$spacing-gap})/12 + (#{$i} - 1) * #{$spacing-gap});
        }
    }
}

#footer {
    margin-top: auto;
    background: $post-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-top: 2px solid black;

    #author-info {
        color: black;
    }
}

/* Desktop view */
@media only screen and (min-width: 1024px) {

    #menu {
        display: flex;
    }

    #burger-container, #burger-menu-container #mobile-menu {
        display: none;
    }
}

/* Mobile screens */
@media only screen and (max-width: 599px) {

    #header {

        #title {
            font-size: 0;
        }
    }
}

/* Tablet & Mobile view */
@media only screen and (max-width: 1023px) {

    #menu {
        display: none;
    }

    #burger-container {
        display: flex;
    }
}